{% load raw_input %}

<!DOCTYPE html>
<html ng-app="basic">
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="/static/js/site.js"></script>
</head>

<script type="text/javascript">

    angular.module('basic', []).config(function($httpProvider) {
        $httpProvider.defaults.headers.common['X-CSRFToken'] = $.getCookie("csrftoken");
        $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
    });

    function MeetingMinuteCtrl($scope, $http){

        $http.get("/list").success(function(data){
            $scope.meetings = data;
        });

        $scope.addMeeting = function(){
            var data = $(addMeetingForm).serialize();
            $http.post("/add", data).success(function(data){
                $scope.meetings.push(data);
                $("#minute-detail").modal("hide");
            });
        };

        $scope.delMeeting = function(index){
            $http.post("/delete", $.param({"_id": $scope.meetings[index]._id}))
            .success(function(data){
                    $scope.meetings.splice(index, 1);
            });
        };

        $scope.addMeetingPopup = function(){
            $("#minute-detail").modal("show");
        };

    }

</script>

<body ng-controller="MeetingMinuteCtrl">
<div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Meeting Minutes</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="#" ng-click="addMeetingPopup()">Add</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /navbar-inner -->
</div>

<div class="container">
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Date/Time</th>
            <th>Meeting Name</th>
            <th>Attendees</th>
            <th>Purpose</th>
            <th>Attachments</th>
        </tr>
    </thead>
    <tbody>
       {% raw %}
       <tr ng-repeat="meeting in meetings">
            <td><a class="icon-remove" ng-click="delMeeting($index)"></a>
                <a class="icon-edit"></a>
            </td>
            <td>{{ meeting.create_time }}</td>
            <td>{{ meeting.meeting_name }}</td>
            <td>{{ meeting.attendees }}</td>
            <td>{{ meeting.purpose }}</td>
            <td>{{ meeting.attachment }}</td>
       </tr>
       {% endraw %}
    </tbody>
</table>
</div>

<div id="minute-detail" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Add a new Meeting</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="addMeetingForm">
            <div class="control-group">
              <label class="control-label" for="meeting_name">Meeting Name</label>
              <div class="controls">
                <input type="text" id="meeting_name" name="meeting_name">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="attendees">Attendees</label>
              <div class="controls">
                <input type="text" id="attendees" name="attendees">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="purpose">Purpose</label>
              <div class="controls">
                <textarea id="purpose" name="purpose"></textarea>
              </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <a href="#" class="btn btn-primary" ng-click="addMeeting()">Save changes</a>
    </div>
</div>
</body>
</html>
